<section class="color-indicator">
  <ul class="color-wrapper">
    <li
      class="color-section"
      [ngClass]="{
        red: props.emptyInput || props.easy,
        gray: !props.emptyInput,
        yellow: props.medium,
        green: props.hard
      }"
    ></li>
    <li
      class="color-section"
      [ngClass]="{
        red: props.emptyInput,
        gray: !props.emptyInput,
        yellow: props.medium,
        green: props.hard
      }"
    ></li>
    <li
      class="color-section"
      [ngClass]="{
        red: props.emptyInput,
        gray: !props.emptyInput,
        green: props.hard
      }"
    ></li>
  </ul>
</section>
