<section class="color-indicator">
  <ul class="color-wrapper">
    <li
      class="color-section"
      [ngClass]="{
        red: emptyInput || easy,
        gray: !emptyInput,
        yellow: medium,
        green: hard
      }"
    ></li>
    <li
      class="color-section"
      [ngClass]="{
        red: emptyInput,
        gray: !emptyInput,
        yellow: medium,
        green: hard
      }"
    ></li>
    <li
      class="color-section"
      [ngClass]="{
        red: emptyInput,
        gray: !emptyInput,
        green: hard
      }"
    ></li>
  </ul>
</section>
