form {
  text-align: center;
  position: relative;
}
.title {
  color:rgba(0, 0, 0, 0.807);
  text-shadow: 1px 1px 2px rgba(6, 173, 234, 0.581);
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.input-Wrapper {
  margin-top: 15px;
  text-align: center;
}

.input {
  width: 100%;
  border: 3px solid rgba(52, 119, 205, 0.848);  
  border-radius: 5px;
  padding: 5px;
  outline-color: blue;
}
.input :focus {
  width: 100%;
  border: 6px solid rgb(33, 105, 199);  
  border-radius: 5px;
  padding: 5px;
}

.color-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.color-section {
  color: rgb(114, 107, 107);
  font-size: 20px;
  font-weight: 700;
  width: 250px;
  height: 50px;
  background-color: rgb(136, 133, 133);
  border-radius: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
.status {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.short-status {
  background-color: rgba(240, 132, 132, 0.837);
}
.easy-status {
  background-color: rgb(247, 89, 89);
}
.medium-status{
  background-color: rgba(217, 235, 58, 0.837);
}
.hard-status{
  background-color: rgba(91, 235, 58, 0.837);
}
