<h1 class="title"> Test your password strength!</h1>
<form class="input-Wrapper" >
  <input placeholder="Enter your password"
         type="password"
         name="password"
         class="input"
         [(ngModel)] = 'password'
         (input) = 'onInputChange(password)'
         >
     <div class="status short-status" [hidden] = '!emptyInput'>Your password is too short</div>
     <div class="status easy-status" [hidden] = '!easy'>Your password is too easy</div>
     <div class="status medium-status" [hidden] = '!medium'>Your password is medium</div>
     <div class="status hard-status" [hidden] = '!hard'>Your password is realy strong</div>

</form>
<div class="color-wrapper">
  <div class="color-section"
       [ngClass] = "{'red' : emptyInput || easy, 'gray' : !emptyInput, 'yellow' : medium, 'green' : hard}"></div>
  <div class="color-section"
       [ngClass] = "{'red' : emptyInput, 'gray' : !emptyInput, 'yellow' : medium, 'green' : hard}"></div>
  <div class="color-section"
       [ngClass] = "{'red' : emptyInput, 'gray' : !emptyInput, 'green' : hard}"></div>
</div>