form {
  text-align: center;
  position: relative;
}
.input-Wrapper {
  margin-top: 15px;
  text-align: center;
}
.input {
  width: 100%;
  border: 3px solid rgba(52, 119, 205, 0.848);
  border-radius: 5px;
  padding: 5px;
  outline-color: blue;
}
.input :focus {
  width: 100%;
  border: 6px solid rgb(33, 105, 199);
  border-radius: 5px;
  padding: 5px;
}
.status {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.short-status {
  background-color: rgba(240, 132, 132, 0.837);
}
.easy-status {
  background-color: rgb(247, 89, 89);
}
.medium-status{
  background-color: rgba(217, 235, 58, 0.837);
}
.hard-status{
  background-color: rgba(91, 235, 58, 0.837);
}
