<section class="input-field">
  <form class="input-Wrapper">
    <input
      placeholder="Enter your password"
      type="password"
      name="password"
      class="input"
      [(ngModel)]="password"
      (input)="onInputChange(password)"
    />

    <div class="status short-status" [hidden]="!props.emptyInput">
      Your password is too short
    </div>
    <div class="status easy-status" [hidden]="!props.easy">
      Your password is too easy
    </div>
    <div class="status medium-status" [hidden]="!props.medium">
      Your password is medium
    </div>
    <div class="status hard-status" [hidden]="!props.hard">
      Your password is realy strong
    </div>
  </form>
</section>
